html {
	width: 100%;
	height: 100%;
	overflow: hidden;
	cursor: none;
	background: black;
	-webkit-user-select: none;
}

body {
	margin: 0px;
	display: flex;
	width: 100%;
	height: 100%;
}

a {
	cursor: none;
}

div::-webkit-scrollbar {
	display: none;
}

#info {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 400px;
	height: 100%;
	overflow: hidden;;
	background: white;
	transition-duration: 0.5s;
	z-index: 1;
}

#info-text {
	display: flex;
	overflow: hidden;
	width: 260px;
	height: 200px;
}

#info-text-container {
	position: relative;
	display: flex;
	width: 260px;
	height: 200px;
	margin: 50px 0px 0px 0px;
	left: 0px;
	transition-duration: 0.5s;
}

#info-text-container div {
	flex: 0 0 100%;
	width: 260px;
	color: #999999;
	font-family: Noto Sans TC;
	font-size: 18px;
	font-weight:300;
	line-height: 27px;
	-webkit-user-select: none;
	transition-duration: 0.5s;
}

#info-text-container div:hover {
	color: #666666;
}

#info-tag {
	position: absolute;
	font-family: Noto Sans TC;
	font-size: 120px;
	font-weight: 900;
	color: transparent;
	transform-origin: center;
	transform: rotate(-90deg);
	right: -100px;
	bottom: 65px;
	-webkit-text-stroke: 2px #eeeeee;
	-webkit-user-select: none;
	transition-duration: 0.5s;
}

#info:hover #info-tag {
	color: #eeeeee;
}

#porfile_pic canvas {
	width: 100%;
	transition-duration: 0.3s;
	transform: scale(1);
}

#porfile_pic:hover canvas {
	transform: scale(1.2);
}

.link {
	position: relative;
	width: 120px;
	height: 20px;
	background: #eeeeee;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 8px;
	text-decoration: none;
	color: black;
	-webkit-user-select: none;
	transition-duration: 0.2s;
}

.link:hover {
	width: 150px;
	background: #aaeeff;
}

.link div {
	font-family: Noto Sans TC;
	font-weight: 500;
	font-size: 18px;
	transform: translateY(2px);
	transition-duration: 0.3s;
}

#gallery-tag {
	position: absolute;
	font-family: Noto Sans TC;
	font-size: 120px;
	font-weight: 900;
	color: transparent;
	transform-origin: center;
	transform: rotate(-90deg);
	right: -220px;
	bottom: 180px;
	-webkit-text-stroke: 2px #333333;
	-webkit-user-select: none;
	transition-duration: 0.5s;
	pointer-events: none;
}

#gallery:hover #gallery-tag {
	color: #333333;
}

.image {
	display: inline-block;
	margin: 24px;
	height: 200px;
	position: relative;
	transition-duration: 0.3s;
}

.image img, .image video {
	display: block;
	height: 100%;
	transition-duration: 0.2s;
	transform: scale(1);
	-webkit-user-select: none;
}

.image:hover img, .image:hover video {
	transform: scale(1.1);
}

.image a {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	opacity: 0;
}

.filter-button {
	position: relative;
	margin: 80px 0px 20px 0px;
	padding: 0px 30px 0px 30px;
	display: inline-block;
	text-align: center;
	background: white;
	color: black;
	font-family: Noto Sans TC;
	font-size: 32px;
	font-weight: 300;
	transition-duration: 0.2s;
	-webkit-user-select: none;
}

.filter-button:hover {
	transform: translateX(12px);
}

@media screen and (max-width: 720px) {
	#info {
		position: fixed;
		width: 100%;
		left: 0%;
	}

	.image {
		height: auto;
		max-width: 400px;
	}

	.image * {
		height: auto;
		width: 100%;
	}
}

@media screen and (min-width: 721px) and (max-width: 900px) {
	.image {
		height: auto;
		width: 300px;
	}

	.image * {
		height: auto;
		width: 100%;
	}
}